<ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label>
            Ingresar Email
        </ion-label>
        <ion-input></ion-input>
    </ion-item>


    <ion-item>
        <ion-label>
            Ingresar Contraseña
        </ion-label>
        <ion-input></ion-input>

    </ion-item>

    <ion-item>
        <ion-button shape="round" fill="outline" expand="full">Iniciar Sesión</ion-button>
    </ion-item>


</ion-content>