<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title> PRO NEAR ME </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <img src="../../assets/images/logo.png" />

        <ion-card-content>
            <br>
            <ion-card-title>
                PRO NEAR ME
            </ion-card-title>
            <br>
            <p>
                Gracias por acudir a nuestra app, puedes encontrar el trabajo ideal muy cerca de ti.
            </p>
        </ion-card-content>
    </ion-card>
    <ion-button size="small" routerLink="/registro">
        <ion-icon name="person-circle-outline"></ion-icon>
        Registar Usuario
    </ion-button>

    <ion-button size="small" routerLink="/prestador-servicios">
        <ion-icon name="construct-outline"></ion-icon>
        Registar Servicio
    </ion-button>

</ion-content>