<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Registro Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-back-button></ion-back-button>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" #email required [(ngModel)]="usuario.email"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" #password required [(ngModel)]="contrasena"></ion-input>
  </ion-item>

  <ion-row>
    <ion-col> 
    <ion-button type="submit" (click)="registerUser()" expand="block">Register</ion-button>
    </ion-col>
  </ion-row>
  <!--
    <h3>Formulario de registro</h3>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="usuario.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="usuario.apellido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Genero</ion-label>
    <ion-select [(ngModel)]="usuario.genero">
      <ion-select-option value="Masculino">Masculino</ion-select-option>
      <ion-select-option value="Femenino">Femenino</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">MM DD YY</ion-label>
    <ion-datetime displayFormat="MM DD YY" placeholder="Seleccionar" [(ngModel)]="usuario.fechaNacimiento"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input [(ngModel)]="usuario.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contrasena</ion-label>
    <ion-input [(ngModel)]="contrasena" [type]="showPassword ? 'text' : 'password'" placeholder="Contrasena"></ion-input>
    <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirmar Contrasena</ion-label>
    <ion-input [(ngModel)]="contrasena2" [type]="showPassword ? 'text' : 'password'" placeholder="Contrasena"></ion-input>
    <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
  </ion-item>

  <ion-item> 
    <ion-button shape="round" fill="outline" expand="full" (click) ="registrarNuevoUsuario()">Registrarse</ion-button>
  </ion-item>
  -->


</ion-content>
